/* ===========================================
        MOBILE DEVICE RESPONSIVE START 
=========================================== */
@media (min-width:0px) and (max-width: 576px) {
    /* COMMON BUTTON PART START */
    .commonbtn{
        padding: 5px 10px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .commonbtn a{
        font-size: 1rem;
    }
    /* COMMON BUTTON PART START */

    h2{
        font-size: 2.3rem;
    }
    p{
        color: var(--TEXT-COLOR);
        font-size: 1rem;
        line-height: 30px;
    }
    
    /* NAV BAR PART START  */
    nav{
        padding: 15px 0;
    }
    nav .container{
        width: 100%;
        flex-direction: column;
    }
    nav .container .logo{
        gap: 3px;
        margin-bottom: 15px;
    }
    nav .container .logo img{
        width: 50px;
    }
    nav .container .logo p{
        font-size: 2rem;
    }
    nav .container .item{
        flex-direction: column;
        gap: 20px;
    }
    nav .container .item ul{
        padding: 0px;
        gap: 10px;
        flex-direction: column;
        text-align: center;
    }
    nav .container .item ul li a{
        font-size: 1.6rem;
    }
    nav .container .item  button{
        font-size: 1.2rem;
        padding: 5px;
        gap: 10px;
    }
    nav .container .item  button i{
        font-size: 1.2rem;
    }
    /* NAV BAR PART END  */


    /* BANNER PART START  */
    #banner .container{
        width: 100%;
        gap: 50px;
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    #banner .container .text{
        padding: 0px 20px;
    }
    #banner .container .text h3{
        font-size: 1.9rem;
    }
    #banner .container .text h1{
        font-size: 4rem;
    }
    #banner .container .text ul li .icon{
        margin-bottom: 7px;
        padding: 0px 10px;
    }
    #banner .container .text ul li .icon i{
        height: 25px;
        width: 25px;
    }
    #banner .container .text ul li .icon span{
        font-size: .75rem;
    }
    #banner .container .text .btn{
        gap: 30px;
        margin-top: 30px;
    }
    /* BANNER PART END */

    /* GAMER PART START  */
    #gamer{
        margin-bottom: 50px;
    }
    #gamer .container{
        gap: 30px;
        text-align: center;
        flex-direction: column;
        width: 100%;
    }
    #gamer .container .text{
        padding: 0px 0px;
    }
    #gamer .container .text p{
        margin-bottom: 15px;
    }
    #gamer .container .text .quation{
        margin-top: 20px;
    }
    /* GAMER PART END */


}
/* ===========================================
        MOBILE DEVICE RESPONSIVE END 
=========================================== */


/* ===========================================
        TABLET DEVICE RESPONSIVE START 
=========================================== */
@media (min-width:576.1px) and (max-width: 768px) {

    /* COMMON BUTTON PART START */
    .commonbtn{
        padding: 10px 20px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
    .commonbtn a{
        font-size: 1.5rem;
    }
    /* COMMON BUTTON PART START */

    h2{
        font-size: 2.3rem;
    }
    p{
        color: var(--TEXT-COLOR);
        font-size: 1rem;
        line-height: 30px;
    }

    /* NAV BAR PART START  */
    nav{
        padding: 15px 0;
    }
    nav .container{
        width: 100%;
        flex-direction: column;
        padding: 20px 0;
    }
    nav .container .logo{
        display: flex;
        gap: 8px;
        margin-bottom: 15px;
    }
    nav .container .logo p{
        font-size: 2rem;
    }
    nav .container .item{
        gap: 20px;
    }
    nav .container .item ul{
        padding:0px;
        gap: 20px;
    }
    nav .container .item ul li a{
        font-size: 1.5rem;
    }
    nav .container .item  button{
        font-size: 1.5rem;
        padding: 10px 5px;
        gap: 8px;
    }
    nav .container .item  button i{
        font-size: 1.2rem;
    }
    /* NAV BAR PART END  */

    
    /* BANNER PART START  */
        #banner .container{
            width: 100%;
            gap: 50px;
            flex-direction: column-reverse;
            margin-top: 50px;
        }
        #banner .container .text{
            padding: 0px 20px;
        }
        #banner .container .text h3{
            font-size: 2.5rem;
        }
        #banner .container .text h1{
            font-size: 5rem;
        }
        #banner .container .text ul li .icon{
            margin-bottom: 10px;
            padding: 0px 10px;
        }
        #banner .container .text ul li .icon i{
            height: 25px;
            width: 25px;
        }
        #banner .container .text ul li .icon span{
            font-size: 1rem;
        }
        #banner .container .text .btn{
            gap: 30px;
            margin-top: 30px;
        }
    /* BANNER PART END */

    /* GAMER PART START  */
    #gamer{
        margin-bottom: 50px;
    }
    #gamer .container{
        gap: 30px;
        text-align: center;
        flex-direction: column;
        width: 100%;
    }
    #gamer .container .text{
        padding: 0px 0px;
    }
    #gamer .container .text p{
        margin-bottom: 15px;
    }
    #gamer .container .text .quation{
        margin-top: 20px;
    }
    /* GAMER PART END */


}
/* ===========================================
        TABLET DEVICE RESPONSIVE END 
=========================================== */


/* ===========================================
        MINI LAPTOP DEVICE RESPONSIVE START 
=========================================== */
@media (min-width:768.1px) and (max-width: 991.88px) {
    /* COMMON BUTTON PART START */
    .commonbtn{
        padding: 7px 15px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
    }
    .commonbtn a{
        font-size: 1.3rem;
    }
    /* COMMON BUTTON PART START */
    
    h2{
        font-size: 2.2rem;
    }
    p{
        color: var(--TEXT-COLOR);
        font-size: 1rem;
        line-height: 30px;
    }
    
    /* NAV BAR PART START  */
    nav{
        padding: 15px 0;
    }
    nav .container{
        width: 100%;
        flex-direction: column;
        padding: 20px 0;
    }
    nav .container .logo{
        display: flex;
        gap: 8px;
        margin-bottom: 15px;
    }
    nav .container .logo p{
        font-size: 2rem;
    }
    nav .container .item{
        gap: 20px;
    }
    nav .container .item ul{
        padding:0px;
        gap: 20px;
    }
    nav .container .item ul li a{
        font-size: 1.5rem;
    }
    nav .container .item  button{
        font-size: 1.5rem;
        padding: 10px 5px;
        gap: 8px;
    }
    nav .container .item  button i{
        font-size: 1.2rem;
    }
    /* NAV BAR PART END  */

    
    /* BANNER PART START  */
    #banner .container{
        width: 100%;
        gap: 30px;
    }
    #banner .container .text{
        padding: 0px 20px;
    }
    #banner .container .text h3{
        font-size: 2.5rem;
    }
    #banner .container .text h1{
        font-size: 5rem;
    }
    #banner .container .text ul li .icon{
        margin-bottom: 10px;
        padding: 0;
    }
    #banner .container .text ul li .icon i{
        height: 20px;
        width: 20px;
    }
    #banner .container .text ul li .icon span{
        font-size: 1rem;
    }
    #banner .container .text .btn{
        gap: 30px;
        margin-top: 30px;
    }
    /* BANNER PART END */

    /* GAMER PART START  */
    #gamer{
        margin-bottom: 70px;
    }
    #gamer .container{
        gap: 10px;
        width: 100%;
    }
    #gamer .container .text{
        padding: 0px 0px;
        max-width: 350px;
    }
    #gamer .container .text p{
        margin-bottom: 15px;
        font-size: .8rem;
    }
    #gamer .container .text .quation{
        margin-top: 20px;
    }
    /* GAMER PART END */


}
/* ===========================================
        MINI LAPTOP DEVICE RESPONSIVE END 
=========================================== */


/* ===========================================
        MEDIUM LAPTOP DEVICE RESPONSIVE START 
=========================================== */
@media (min-width:992PX) and (max-width: 1199.88px) {
    /* COMMON BUTTON PART START */
    .commonbtn{
        padding: 7px 15px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
    }
    .commonbtn a{
        font-size: 1.3rem;
    }
    /* COMMON BUTTON PART START */  
    
    /* NAV BAR PART START  */
    nav{
        padding: 15px 0;
    }
    nav .container{
        width: 100%;
        padding: 0 10px;
    }
    nav .container .logo{
        display: flex;
        gap: 5px;
    }
    nav .container .logo p{
        font-size: 2rem;
    }
    nav .container .item{
        gap: 20px;
    }
    nav .container .item ul{
        gap: 20px;
    }
    nav .container .item ul li a{
        font-size: 1.6rem;
    }
    nav .container .item  button{
        font-size: 1.5rem;
        padding: 10px 15px;
        gap: 10px;
    }
    nav .container .item  button i{
        font-size: 1.2rem;
    }
    /* NAV BAR PART END  */

    
    /* BANNER PART START  */
    #banner .container{
        width: 100%;
        gap: 60px;
        justify-content: space-between;
    }
    #banner .container .text{
        padding: 0px 20px;
    }
    #banner .container .text h3{
        font-size: 2.5rem;
    }
    #banner .container .text h1{
        font-size: 5rem;
    }
    #banner .container .text ul li .icon{
        margin-bottom: 10px;
        padding: 0;
    }
    #banner .container .text ul li .icon i{
        height: 20px;
        width: 20px;
    }
    #banner .container .text ul li .icon span{
        font-size: 1rem;
    }
    #banner .container .text .btn{
        gap: 30px;
        margin-top: 30px;
    }
    /* BANNER PART END */

    /* GAMER PART START  */
    #gamer{
        margin-bottom: 70px;
    }
    #gamer .container{
        gap: 10px;
        width: 100%;
    }
    #gamer .container .text{
        padding: 0px 0px;
    }
    #gamer .container .text p{
        margin-bottom: 15px;
        font-size: 1rem;
    }
    #gamer .container .text .quation{
        margin-top: 20px;
    }
    /* GAMER PART END */

}
/* ===========================================
        MEDIUM LAPTOP DEVICE RESPONSIVE END 
=========================================== */



/* ===========================================
        LARGE DEVICE RESPONSIVE START 
=========================================== */
@media (min-width:1200px) and (max-width: 1639.88px) {

    /* COMMON BUTTON PART START */
    .commonbtn{
        padding: 20px 27px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
}
    .commonbtn a{
        font-size: 1.6rem;
    }
    /* COMMON BUTTON PART START */  

    /* NAV BAR PART START  */
    nav{
        padding: 15px 0;
    }
    nav .container{
        width: 100%;
        padding: 0 30px;
    }
    nav .container .logo{
        display: flex;
        gap: 5px;
    }
    nav .container .logo p{
        font-size: 2rem;
    }
    nav .container .item{
        gap: 35px;
    }
    nav .container .item ul{
        gap: 35px;
    }
    nav .container .item ul li a{
        font-size: 1.6rem;
    }
    nav .container .item  button{
        font-size: 1.5rem;
        padding: 10px 25px;
        gap: 20px;
    }
    nav .container .item  button i{
        font-size: 1.2rem;
    }
    /* NAV BAR PART END  */

    /* BANNER PART START  */
    #banner .container{
        width: 100%;
        gap: 60px;
        justify-content: space-between;
    }
    #banner .container .text{
        padding: 0px 20px;
    }
    #banner .container .text h3{
        font-size: 3rem;
    }
    #banner .container .text h1{
        font-size: 6rem;
    }
    #banner .container .text ul li .icon{
        margin-bottom: 10px;
        padding: 0;
    }
    #banner .container .text ul li .icon i{
        height: 25px;
        width: 25px;
    }
    #banner .container .text ul li .icon span{
        font-size: 1.4rem;
    }
    #banner .container .text .btn{
        gap: 30px;
        margin-top: 30px;
    }
    /* BANNER PART END */

}
/* ===========================================
        LARGE  DEVICE RESPONSIVE END 
=========================================== */