/* ===========================================
        MOBILE DEVICE RESPONSIVE START 
=========================================== */
@media (min-width:0px) and (max-width: 576px) {
    /* COMMON BUTTON PART START */
    .commonbtn{
        padding: 5px 10px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .commonbtn a{
        font-size: 1rem;
    }
    /* COMMON BUTTON PART START */

    h2{
        font-size: 2.3rem;
    }
    p{
        color: var(--TEXT-COLOR);
        font-size: 1rem;
        line-height: 30px;
    }
    
    /* NAV BAR PART START  */
    nav{
        padding: 15px 0;
    }
    nav .container{
        width: 100%;
        flex-direction: column;
    }
    nav .container .logo{
        gap: 3px;
        margin-bottom: 15px;
    }
    nav .container .logo img{
        width: 50px;
    }
    nav .container .logo p{
        font-size: 2rem;
    }
    nav .container .item{
        flex-direction: column;
        gap: 20px;
    }
    nav .container .item ul{
        padding: 0px;
        gap: 10px;
        flex-direction: column;
        text-align: center;
    }
    nav .container .item ul li a{
        font-size: 1.6rem;
    }
    nav .container .item  button{
        font-size: 1.2rem;
        padding: 5px;
        gap: 10px;
    }
    nav .container .item  button i{
        font-size: 1.2rem;
    }
    /* NAV BAR PART END  */


    /* BANNER PART START  */
    #banner .container{
        width: 100%;
        gap: 50px;
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    #banner .container .text{
        padding: 0px 20px;
    }
    #banner .container .text h3{
        font-size: 1.9rem;
    }
    #banner .container .text h1{
        font-size: 4rem;
    }
    #banner .container .text ul li .icon{
        margin-bottom: 7px;
        padding: 0px 10px;
    }
    #banner .container .text ul li .icon i{
        height: 25px;
        width: 25px;
    }
    #banner .container .text ul li .icon span{
        font-size: .75rem;
    }
    #banner .container .text .btn{
        gap: 30px;
        margin-top: 30px;
    }
    /* BANNER PART END */

    /* GAMER PART START  */
    #gamer{
        margin-bottom: 50px;
    }
    #gamer .container{
        gap: 30px;
        text-align: center;
        flex-direction: column;
        width: 100%;
    }
    #gamer .container .text{
        padding: 0px 0px;
    }
    #gamer .container .text p{
        margin-bottom: 15px;
    }
    #gamer .container .text .quation{
        margin-top: 20px;
    }
    /* GAMER PART END */

    /* ONLINE GAME PART START */
    #online{
        margin-bottom: 50px;
    }
    #online .container{
        padding: 0 10px;
        width: 100%;
    }
    #online .container .heading{
        text-align: center;
        margin-bottom: 30px;
    }
    #online .container .heading h2{
        text-align: center;
        margin-bottom: 30px;
        font-size: 1.5rem;
    }
    #online .container .game_items{
        gap: 25px;
        justify-content: start;
        align-items: center;
        flex-direction: column;
    }
    #online .container .game_items .games{
        width: 300px;
        height: auto;
    }
    #online .container .game_items .games .image{
        height: 100%;
     }
    #online .container .game_items .games .image .overlay i{
        font-size: 40px;
    }
    #online .container .game_items .games .image .overlay p{
        font-size: 1.2rem;
    }
    #online .container .game_items .games .game-caption{
        margin-top: 8px;
    }
    #online .container .game_items .games .game-caption p{
        font-size: 1rem;
    }
    /* ONLINE GAME PART EMD */

    /* INSTANTLY PART START  */
    #instantly{
        margin-bottom:80px;
    }
    #instantly .container{
        gap: 30px;
        flex-direction: column;
        width: 100%;
    }
    #instantly .container .text{
        max-width: 350px;
        text-align: center;
        margin: 0 auto;
    }
    #instantly .container .image{
        margin-left: 50px;
        width: 230px;
    }
    #instantly .container .image img{
        width: 100%;
    }
    #instantly .container .image .position{
        position: absolute;
        left: -25%;
        top: 60%;
    }
    #instantly .container .image .position .posotion-img{
        width: 130px;
    }
    /* INSTANTLY PART END */

    /* PLAY PART START  */
    #play{
        margin-bottom:80px;
        margin-top: 100px;
    }
    #play .container{
        gap: 30px;
        flex-direction: column-reverse;
        width: 100%;
    }
    #play .container .text{
        text-align: center;
    }
    #play .container .text h2{
        font-size: 2.5rem;
    }
    #play .container .image{
        width: 230px;
        margin-right: 55px;
    }
    #play .container .image img{
        width: 100%;
    }
    #play .container .image .position{
        right: -25%;
        top: 60%;
    }
    #play .container .image .position .posotion-img{
        width: 130px;
    }
    /* PLAY PART END */


    /* LOGO BUTTON PART START  */
    #logo{
        padding: 40px 0px;
    }
    #logo .container{
        width: 100%;
        padding: 0;
    }
    #logo .container .logos{
        justify-content: center;
    }
    #logo .container .logos .logo a{
        justify-content:center;
        gap: 2px;
        padding: 3px;
    }
    #logo .container .logos .logo a .icon{
        width: 15px;
        height: 15px;
    }
    #logo .container .logos .logo a p{
        font-size: 11px;
        font-weight: 400;
    }
    /* LOGO BUTTON PART END */


    /* FOOTER PART START  */
    footer .container{
        width: 100%;
        padding: 40px 0 0;
    }
    footer .container .logo{
        gap: 5px;
        margin-bottom: 20px;
    }
    footer .container .logo img{
        width: 60px;
    }
    footer .container .logo p{
        font-size: 2rem;
        color: var(--WHITE-COLOR);
        font-weight: 700;
    }
    footer .container .logo p span{
        color: var(--PRIMARY-COLOR);
    
    }

    footer .container .f_nav{
        margin: 0 auto 30px;
        padding: 15px;
    }
    footer .container .f_nav ul{
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    footer .container .f_nav ul li a{
        font-size: 1.1rem;
        font-weight: 600;
    }
    footer .container .f_nav2 ul li a{
        font-size: 1rem;
        font-weight: 400;
    }
    

    footer .container .social_media{
        margin: 0 auto 30px;
        padding: 0 20px;
    }
    footer .container .social_media ul{
        display: flex;
        gap: 50px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    footer .container .social_media ul li{
        padding: 0 12px;
    }
    
    footer .container .social_media ul li a i{
        font-size: 2rem;
    }
    
    footer .container .f_copy{
        text-align: center;
    }
    /* FOOTER PART END */

}
/* ===========================================
        MOBILE DEVICE RESPONSIVE END 
=========================================== */


/* ===========================================
        TABLET DEVICE RESPONSIVE START 
=========================================== */
@media (min-width:576.1px) and (max-width: 768px) {

    /* COMMON BUTTON PART START */
    .commonbtn{
        padding: 10px 20px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
    .commonbtn a{
        font-size: 1.5rem;
    }
    /* COMMON BUTTON PART START */

    h2{
        font-size: 2.3rem;
    }
    p{
        color: var(--TEXT-COLOR);
        font-size: 1rem;
        line-height: 30px;
    }

    /* NAV BAR PART START  */
    nav{
        padding: 15px 0;
    }
    nav .container{
        width: 100%;
        flex-direction: column;
        padding: 20px 0;
    }
    nav .container .logo{
        display: flex;
        gap: 8px;
        margin-bottom: 15px;
    }
    nav .container .logo p{
        font-size: 2rem;
    }
    nav .container .item{
        gap: 20px;
    }
    nav .container .item ul{
        padding:0px;
        gap: 20px;
    }
    nav .container .item ul li a{
        font-size: 1.5rem;
    }
    nav .container .item  button{
        font-size: 1.5rem;
        padding: 10px 5px;
        gap: 8px;
    }
    nav .container .item  button i{
        font-size: 1.2rem;
    }
    /* NAV BAR PART END  */

    
    /* BANNER PART START  */
        #banner .container{
            width: 100%;
            gap: 50px;
            flex-direction: column-reverse;
            margin-top: 50px;
        }
        #banner .container .text{
            padding: 0px 20px;
        }
        #banner .container .text h3{
            font-size: 2.5rem;
        }
        #banner .container .text h1{
            font-size: 5rem;
        }
        #banner .container .text ul li .icon{
            margin-bottom: 10px;
            padding: 0px 10px;
        }
        #banner .container .text ul li .icon i{
            height: 25px;
            width: 25px;
        }
        #banner .container .text ul li .icon span{
            font-size: 1rem;
        }
        #banner .container .text .btn{
            gap: 30px;
            margin-top: 30px;
        }
    /* BANNER PART END */

    /* GAMER PART START  */
    #gamer{
        margin-bottom: 50px;
    }
    #gamer .container{
        gap: 30px;
        text-align: center;
        flex-direction: column;
        width: 100%;
    }
    #gamer .container .text{
        padding: 0px 0px;
    }
    #gamer .container .text p{
        margin-bottom: 15px;
    }
    #gamer .container .text .quation{
        margin-top: 20px;
    }
    /* GAMER PART END */

    /* ONLINE GAME PART START */
    #online{
        margin-bottom: 50px;
    }
    #online .container{
        padding: 0 10px;
        width: 100%;
    }
    #online .container .heading{
        text-align: center;
        margin-bottom: 30px;
    }
    #online .container .heading h2{
        text-align: center;
        margin-bottom: 15px;
        font-size: 2rem;
    }
    #online .container .game_items{
        gap: 25px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #online .container .game_items .games{
        width: 250px;
    }
    #online .container .game_items .games .image{
        height: 90%;
     }
    #online .container .game_items .games .image .overlay i{
        font-size: 40px;
    }
    #online .container .game_items .games .image .overlay p{
        font-size: 1.2rem;
    }
    #online .container .game_items .games .game-caption{
        margin-top: 8px;
    }
    #online .container .game_items .games .game-caption p{
        font-size: 1rem;
    }
    /* ONLINE GAME PART EMD */

    /* INSTANTLY PART START  */
    #instantly{
        margin-bottom:80px;
    }
    #instantly .container{
        gap: 30px;
        flex-direction: column;
        width: 100%;
    }
    #instantly .container .text{
        max-width: 500px;
        text-align: center;
        margin: 0 auto;
    }
    #instantly .container .image{
        margin-left: 50px;
        width: 280px;
    }
    #instantly .container .image img{
        width: 100%;
    }
    #instantly .container .image .position{
        position: absolute;
        left: -35%;
        top: 60%;
    }
    #instantly .container .image .position .posotion-img{
        width: 180px;
    }
    /* INSTANTLY PART END */


    /* PLAY PART START  */
    #play{
        margin-bottom:80px;
        margin-top: 150px;
    }
    #play .container{
        gap: 30px;
        flex-direction: column-reverse;
        width: 100%;
    }
    #play .container .text{
        max-width: 500px;
        text-align: center;
        margin: 0 auto;
    }
    #play .container .image{
        width: 300px;
    }
    #play .container .image img{
        width: 100%;
    }
    #play .container .image .position{
        right: -35%;
        top: 55%;
    }
    #play .container .image .position .posotion-img{
        width: 200px;
    }
    /* PLAY PART END */

    /* LOGO BUTTON PART START  */
    #logo{
        padding: 60px 0px;
    }
    #logo .container{
        width: 100%;
        padding: 0;
    }
    #logo .container .logos{
        justify-content: center;
    }
    #logo .container .logos .logo a{
        justify-content:center;
        gap: 10px;
        padding: 10px;
    }
    #logo .container .logos .logo a .icon{
        width: 25px;
        height: 25px;
    }
    #logo .container .logos .logo a p{
        font-size: 14px;
        font-weight: 400;
    }
    /* LOGO BUTTON PART END */


    /* FOOTER PART START  */
    footer .container{
        width: 100%;
        padding: 40px 0 0;
    }
    footer .container .logo{
        gap: 5px;
        margin-bottom: 20px;
    }
    footer .container .logo img{
        width: 60px;
    }
    footer .container .logo p{
        font-size: 2rem;
        color: var(--WHITE-COLOR);
        font-weight: 700;
    }
    footer .container .logo p span{
        color: var(--PRIMARY-COLOR);
    
    }

    footer .container .f_nav{
        margin: 0 auto 40px;
        padding: 25px;
    }
    footer .container .f_nav ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    footer .container .f_nav ul li a{
        font-size: 1.5rem;
        font-weight: 600;
    }
    footer .container .f_nav2 ul li a{
        font-size: 1.3rem;
        font-weight: 500;
    }
    

    footer .container .social_media{
        margin: 0 auto 30px;
        padding: 0 20px;
    }
    footer .container .social_media ul{
        display: flex;
        gap: 50px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    footer .container .social_media ul li{
        padding: 0 12px;
    }
    
    footer .container .social_media ul li a i{
        font-size: 2rem;
    }
    
    footer .container .f_copy{
        text-align: center;
    }
    /* FOOTER PART END */


}
/* ===========================================
        TABLET DEVICE RESPONSIVE END 
=========================================== */


/* ===========================================
        MINI LAPTOP DEVICE RESPONSIVE START 
=========================================== */
@media (min-width:768.1px) and (max-width: 991.88px) {
    /* COMMON BUTTON PART START */
    .commonbtn{
        padding: 7px 15px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
    }
    .commonbtn a{
        font-size: 1.3rem;
    }
    /* COMMON BUTTON PART START */
    
    h2{
        font-size: 2.2rem;
    }
    p{
        color: var(--TEXT-COLOR);
        font-size: 1rem;
        line-height: 30px;
    }
    
    /* NAV BAR PART START  */
    nav{
        padding: 15px 0;
    }
    nav .container{
        width: 100%;
        flex-direction: column;
        padding: 20px 0;
    }
    nav .container .logo{
        display: flex;
        gap: 8px;
        margin-bottom: 15px;
    }
    nav .container .logo p{
        font-size: 2rem;
    }
    nav .container .item{
        gap: 20px;
    }
    nav .container .item ul{
        padding:0px;
        gap: 20px;
    }
    nav .container .item ul li a{
        font-size: 1.5rem;
    }
    nav .container .item  button{
        font-size: 1.5rem;
        padding: 10px 5px;
        gap: 8px;
    }
    nav .container .item  button i{
        font-size: 1.2rem;
    }
    /* NAV BAR PART END  */

    
    /* BANNER PART START  */
    #banner .container{
        width: 100%;
        gap: 30px;
    }
    #banner .container .text{
        padding: 0px 20px;
    }
    #banner .container .text h3{
        font-size: 2.5rem;
    }
    #banner .container .text h1{
        font-size: 5rem;
    }
    #banner .container .text ul li .icon{
        margin-bottom: 10px;
        padding: 0;
    }
    #banner .container .text ul li .icon i{
        height: 20px;
        width: 20px;
    }
    #banner .container .text ul li .icon span{
        font-size: 1rem;
    }
    #banner .container .text .btn{
        gap: 30px;
        margin-top: 30px;
    }
    /* BANNER PART END */

    /* GAMER PART START  */
    #gamer{
        margin-bottom: 70px;
    }
    #gamer .container{
        gap: 10px;
        width: 100%;
    }
    #gamer .container .text{
        padding: 0px 0px;
        max-width: 350px;
    }
    #gamer .container .text p{
        margin-bottom: 15px;
        font-size: .8rem;
    }
    #gamer .container .text .quation{
        margin-top: 20px;
    }
    /* GAMER PART END */


    /* ONLINE GAME PART START */
    #online{
        margin-bottom: 50px;
    }
    #online .container{
        padding: 0 10px;
        width: 100%;
    }
    #online .container .heading{
        text-align: center;
        margin-bottom: 30px;
    }
    #online .container .heading h2{
        text-align: center;
        margin-bottom: 15px;
        font-size: 2rem;
    }
    #online .container .game_items{
        gap: 25px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #online .container .game_items .games{
        width: 320px;
    }
    #online .container .game_items .games .image{
        height: 90%;
     }
    #online .container .game_items .games .image .overlay i{
        font-size: 40px;
    }
    #online .container .game_items .games .image .overlay p{
        font-size: 1.2rem;
    }
    #online .container .game_items .games .game-caption{
        margin-top: 8px;
    }
    #online .container .game_items .games .game-caption p{
        font-size: 1rem;
    }
    /* ONLINE GAME PART EMD */

    /* INSTANTLY PART START  */
    #instantly{
        margin-bottom:80px;
    }
    #instantly .container{
        gap: 30px;
        width: 100%;
    }
    #instantly .container .text{
        max-width: 350px;
        text-align: center;
        margin: 0 auto;
    }
    #instantly .container .image{
        margin-left: 50px;
        width: 280px;
    }
    #instantly .container .image img{
        width: 100%;
    }
    #instantly .container .image .position{
        left: -25%;
        top: 60%;
    }
    #instantly .container .image .position .posotion-img{
        width: 150px;
    }
    /* INSTANTLY PART END */

    /* PLAY PART START  */
    #play{
        margin-bottom:80px;
    }
    #play .container{
        gap: 30px;
        width: 100%;
    }
    #play .container .text{
        max-width: 350px;
        text-align: center;
        margin: 0 auto;
    }
    #play .container .image{
        margin-left: 0px;
        width: 280px;
    }
    #play .container .image img{
        width: 100%;
    }
    #play .container .image .position{
        right:-20%;
        top: 60%;
    }
    #play .container .image .position .posotion-img{
        width: 150px;
    }
    /* PLAY PART END */

    /* LOGO BUTTON PART START  */
    #logo{
        padding: 60px 0px;
    }
    #logo .container{
        width: 100%;
        padding: 0;
    }
    #logo .container .logos{
        justify-content: center;
    }
    #logo .container .logos .logo a{
        justify-content:center;
        gap: 10px;
        padding: 10px;
    }
    #logo .container .logos .logo a .icon{
        width: 35px;
        height: 35px;
    }
    #logo .container .logos .logo a p{
        font-size: 1.2rem;
        font-weight: 400;
    }
    /* LOGO BUTTON PART END */

    /* FOOTER PART START  */
    footer .container{
        width: 100%;
        padding: 40px 0 0;
    }
    footer .container .logo{
        gap: 5px;
        margin-bottom: 20px;
    }
    footer .container .logo img{
        width: 60px;
    }
    footer .container .logo p{
        font-size: 2rem;
        color: var(--WHITE-COLOR);
        font-weight: 700;
    }
    footer .container .logo p span{
        color: var(--PRIMARY-COLOR);
    
    }

    footer .container .f_nav{
        margin: 0 auto 40px;
        padding: 25px;
    }
    footer .container .f_nav ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    footer .container .f_nav ul li a{
        font-size: 1.2rem;
        font-weight: 600;
    }
    footer .container .f_nav2 ul li a{
        font-size: 1.3rem;
        font-weight: 500;
    }
    

    footer .container .social_media{
        margin: 0 auto 30px;
        padding: 0 20px;
    }
    footer .container .social_media ul{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    
    footer .container .social_media ul li a i{
        font-size: 2rem;
    }
    
    footer .container .f_copy{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* FOOTER PART END */

}
/* ===========================================
        MINI LAPTOP DEVICE RESPONSIVE END 
=========================================== */


/* ===========================================
        MEDIUM LAPTOP DEVICE RESPONSIVE START 
=========================================== */
@media (min-width:992PX) and (max-width: 1199.88px) {
    /* COMMON BUTTON PART START */
    .commonbtn{
        padding: 7px 15px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
    }
    .commonbtn a{
        font-size: 1.3rem;
    }
    /* COMMON BUTTON PART START */  
    
    /* NAV BAR PART START  */
    nav{
        padding: 15px 0;
    }
    nav .container{
        width: 100%;
        padding: 0 10px;
    }
    nav .container .logo{
        display: flex;
        gap: 5px;
    }
    nav .container .logo p{
        font-size: 2rem;
    }
    nav .container .item{
        gap: 20px;
    }
    nav .container .item ul{
        gap: 20px;
    }
    nav .container .item ul li a{
        font-size: 1.6rem;
    }
    nav .container .item  button{
        font-size: 1.5rem;
        padding: 10px 15px;
        gap: 10px;
    }
    nav .container .item  button i{
        font-size: 1.2rem;
    }
    /* NAV BAR PART END  */

    
    /* BANNER PART START  */
    #banner .container{
        width: 100%;
        gap: 60px;
        justify-content: space-between;
    }
    #banner .container .text{
        padding: 0px 20px;
    }
    #banner .container .text h3{
        font-size: 2.5rem;
    }
    #banner .container .text h1{
        font-size: 5rem;
    }
    #banner .container .text ul li .icon{
        margin-bottom: 10px;
        padding: 0;
    }
    #banner .container .text ul li .icon i{
        height: 20px;
        width: 20px;
    }
    #banner .container .text ul li .icon span{
        font-size: 1rem;
    }
    #banner .container .text .btn{
        gap: 30px;
        margin-top: 30px;
    }
    /* BANNER PART END */

    /* GAMER PART START  */
    #gamer{
        margin-bottom: 70px;
    }
    #gamer .container{
        gap: 10px;
        width: 100%;
    }
    #gamer .container .text{
        padding: 0px 10px;
    }
    #gamer .container .text p{
        margin-bottom: 15px;
        font-size: 1rem;
    }
    #gamer .container .text .quation{
        margin-top: 20px;
    }
    /* GAMER PART END */

    /* ONLINE GAME PART START */
    #online{
        margin-bottom: 50px;
    }
    #online .container{
        padding: 0 10px;
        width: 100%;
    }
    #online .container .heading{
        text-align: center;
        margin-bottom: 30px;
    }
    #online .container .heading h2{
        text-align: center;
        margin-bottom: 15px;
        font-size: 2rem;
    }
    #online .container .game_items{
        gap: 25px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #online .container .game_items .games{
        width: 350px;
    }
    #online .container .game_items .games .image{
       height: 90%;
    }
    #online .container .game_items .games .image .overlay i{
        font-size: 40px;
    }
    #online .container .game_items .games .image .overlay p{
        font-size: 1.2rem;
    }
    #online .container .game_items .games .game-caption{
        margin-top: 8px;
    }
    #online .container .game_items .games .game-caption p{
        font-size: 1rem;
    }
    /* ONLINE GAME PART EMD */

    /* INSTANTLY PART START  */
    #instantly{
        margin-bottom:100px;
    }
    #instantly .container{
        gap: 50px;
        width: 100%;
        justify-content: space-evenly;
        padding-right: 20px;
    }
    #instantly .container .text{
        max-width: 350px;
        text-align: center;
        margin: 0 auto;
    }
    #instantly .container .image{
        margin-left: 50px;
        width: 350px;
    }
    #instantly .container .image img{
        width: 100%;
    }
    #instantly .container .image .position{
        left: -25%;
        top: 60%;
    }
    #instantly .container .image .position .posotion-img{
        width: 200px;
    }
    /* INSTANTLY PART END */


    /* PLAY PART START  */
    #play{
        margin-bottom:100px;
    }
    #play .container{
        gap: 50px;
        width: 100%;
        justify-content: space-evenly;
        padding-right: 20px;
    }
    #play .container .text{
        max-width: 500px;
        text-align: center;
        margin: 0 auto;
    }
    #play .container .text h2{
        font-size: 2rem;
    }
    #play .container .image{
        margin-left: 0px;
        width: 350px;
    }
    #play .container .image img{
        width: 100%;
    }
    #play .container .image .position{
        right: -20%;
        top: 60%;
    }
    #play .container .image .position .posotion-img{
        width: 200px;
    }
    /* PLAY PART END */


    /* LOGO BUTTON PART START  */
    #logo{
        padding: 60px 0px;
    }
    #logo .container{
        width: 100%;
        padding: 0;
    }
    #logo .container .logos{
        justify-content: center;
    }
    #logo .container .logos .logo a{
        justify-content:center;
        gap: 10px;
        padding: 15px;
    }
    #logo .container .logos .logo a .icon{
        width: 40px;
        height: 40px;
    }
    #logo .container .logos .logo a p{
        font-size: 1.5rem;
        font-weight: 500;
    }
    /* LOGO BUTTON PART END */


        /* FOOTER PART START  */
        footer .container{
            width: 100%;
            padding: 40px 0 0;
        }
        footer .container .logo{
            gap: 5px;
            margin-bottom: 20px;
        }
        footer .container .logo img{
            width: 60px;
        }
        footer .container .logo p{
            font-size: 2rem;
            color: var(--WHITE-COLOR);
            font-weight: 700;
        }
        footer .container .logo p span{
            color: var(--PRIMARY-COLOR);
        
        }
    
        footer .container .f_nav{
            margin: 0 auto 40px;
            padding: 25px;
        }
        footer .container .f_nav ul{
            display: flex;
        }
        footer .container .f_nav ul li a{
            font-size: 1.2rem;
            font-weight: 600;
        }
        footer .container .f_nav2 ul li a{
            font-size: 1.3rem;
            font-weight: 500;
        }
        
    
        footer .container .social_media{
            margin: 0 auto 30px;
            padding: 0 20px;
        }
        footer .container .social_media ul{
            display: flex;
        }
        
        footer .container .social_media ul li a i{
            font-size: 2rem;
        }
        
        footer .container .f_copy{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        /* FOOTER PART END */
}
/* ===========================================
        MEDIUM LAPTOP DEVICE RESPONSIVE END 
=========================================== */



/* ===========================================
        LARGE DEVICE RESPONSIVE START 
=========================================== */
@media (min-width:1200px) and (max-width: 1639.88px) {

    /* COMMON BUTTON PART START */
    .commonbtn{
        padding: 20px 27px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
}
    .commonbtn a{
        font-size: 1.6rem;
    }
    /* COMMON BUTTON PART START */  

    /* NAV BAR PART START  */
    nav{
        padding: 15px 0;
    }
    nav .container{
        width: 100%;
        padding: 0 30px;
    }
    nav .container .logo{
        display: flex;
        gap: 5px;
    }
    nav .container .logo p{
        font-size: 2rem;
    }
    nav .container .item{
        gap: 35px;
    }
    nav .container .item ul{
        gap: 35px;
    }
    nav .container .item ul li a{
        font-size: 1.6rem;
    }
    nav .container .item  button{
        font-size: 1.5rem;
        padding: 10px 25px;
        gap: 20px;
    }
    nav .container .item  button i{
        font-size: 1.2rem;
    }
    /* NAV BAR PART END  */

    /* BANNER PART START  */
    #banner .container{
        width: 100%;
        gap: 60px;
        justify-content: space-between;
    }
    #banner .container .text{
        padding: 0px 20px;
    }
    #banner .container .text h3{
        font-size: 3rem;
    }
    #banner .container .text h1{
        font-size: 6rem;
    }
    #banner .container .text ul li .icon{
        margin-bottom: 10px;
        padding: 0;
    }
    #banner .container .text ul li .icon i{
        height: 25px;
        width: 25px;
    }
    #banner .container .text ul li .icon span{
        font-size: 1.4rem;
    }
    #banner .container .text .btn{
        gap: 30px;
        margin-top: 30px;
    }
    /* BANNER PART END */

    /* GAMER PART START  */
    #gamer{
        margin-bottom: 70px;
    }
    #gamer .container{
        gap: 10px;
        width: 100%;
    }
    #gamer .container .text{
        padding: 0px 10px;
    }
    #gamer .container .text p{
        margin-bottom: 15px;
        font-size: 1rem;
    }
    #gamer .container .text .quation{
        margin-top: 20px;
    }
    /* GAMER PART END */


    /* ONLINE GAME PART START */
    #online{
        margin-bottom: 50px;
    }
    #online .container{
        padding: 0 10px;
        width: 100%;
    }
    #online .container .heading{
        text-align: center;
        margin-bottom: 30px;
    }
    #online .container .heading h2{
        text-align: center;
        margin-bottom: 15px;
        font-size: 2rem;
    }
    #online .container .game_items{
        gap: 25px;
    }
    #online .container .game_items .games{
        width: 350px;
    }
    #online .container .game_items .games .image{
        height: 90%;
    }
    #online .container .game_items .games .image .overlay i{
        font-size: 40px;
    }
    #online .container .game_items .games .image .overlay p{
        font-size: 1.2rem;
    }
    #online .container .game_items .games .game-caption{
        margin-top: 8px;
    }
    #online .container .game_items .games .game-caption p{
        font-size: 1.2rem;
    }
    /* ONLINE GAME PART EMD */

    /* INSTANTLY PART START  */
    #instantly{
        margin-bottom:100px;
    }
    #instantly .container{
        gap: 50px;
        width: 100%;
        justify-content: space-evenly;
        padding-right: 20px;
    }
    #instantly .container .text{
        max-width: 550px;
        text-align: center;
        margin: 0 auto;
    }
    #instantly .container .image{
        width: 400px;
    }
    #instantly .container .image img{
        width: 100%;
    }
    #instantly .container .image .position{
        left: -30%;
        top: 55%;
    }
    #instantly .container .image .position .posotion-img{
        width: 250px;
    }
    /* INSTANTLY PART END */

    /* PLAY PART START  */
    #play{
        margin-top: 150px;
    }
    #play .container{
        gap: 50px;
        width: 100%;
        justify-content: space-evenly;
        padding-right: 20px;
    }
    #play .container .text{
        max-width: 600px;
        text-align: center;
        margin: 0 auto;
    }
    #play .container .image{
        margin-left: 00px;
        width: 400px;
    }
    #play .container .image img{
        width: 100%;
    }
    #play .container .image .position{
        right: -30%;
        top: 55%;
    }
    #play .container .image .position .posotion-img{
        width: 250px;
    }
    /* PLAY PART END */

    /* LOGO BUTTON PART START  */
    #logo{
        padding: 80px 0px;
    }
    #logo .container{
        width: 100%;
        padding: 0;
    }
    #logo .container .logos{
        justify-content: center;
    }
    #logo .container .logos .logo a{
        justify-content:center;
        gap: 15px;
        padding: 25px;
    }
    #logo .container .logos .logo a .icon{
        width: 50px;
        height: 50px;
    }
    #logo .container .logos .logo a p{
        font-size: 1.7rem;
        font-weight: 600;
    }
    /* LOGO BUTTON PART END */


    /* FOOTER PART START  */
    footer .container{
        width: 100%;
        padding: 60px 0 0;
    }
    footer .container .logo{
        gap: 10px;
        margin-bottom: 30px;
    }
    footer .container .logo img{
        width: 70px;
    }
    footer .container .logo p{
        font-size: 2.5rem;
        color: var(--WHITE-COLOR);
        font-weight: 700;
    }

    footer .container .f_nav{
        margin: 0 auto 50px;
        padding: 25px;
    }
    footer .container .f_nav ul{
        display: flex;
    }
    footer .container .f_nav ul li a{
        font-size: 1.7rem;
        font-weight: 600;
    }
    footer .container .f_nav2 ul li a{
        font-size: 1.5rem;
        font-weight: 600;
    }
    

    footer .container .social_media{
        margin: 0 auto 50px;
        padding: 0 20px;
    }
    footer .container .social_media ul{
        display: flex;
    }
    
    footer .container .social_media ul li a i{
        font-size: 2rem;
    }
    
    footer .container .f_copy{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* FOOTER PART END */



}
/* ===========================================
        LARGE  DEVICE RESPONSIVE END 
=========================================== */