/* ========================================
        ALL COMMON CSS PART START 
======================================== */
:root{
    --PRIMATY-COLOR: #FF42A5;
    --HEDDING-BLACK: #0B0223;
    --WHITE-COLOR: #fff;
    --BACKGROUND-COLOR: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --TEXT-COLOR: #534C64;
    --FONT-FAMILY: 'Work Sans', sans-serif;
}
body{
    font-family: 'Work Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
img{
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.container{
    width: 1680px;
    margin: 0 auto;
}
ul, ol, li{
    list-style: none;
    text-decoration: none;
    display: inline;
}
a, a:hover{
    text-decoration: none;
}
/* ========================================
        ALL COMMON CSS PART END 
======================================== */





/* ========================================
        ALL COMMON CSS PART START 
======================================== */
/* ========================================
        ALL COMMON CSS PART END 
======================================== */




/* ========================================
        ALL COMMON CSS PART START 
======================================== */
/* ========================================
        ALL COMMON CSS PART END 
======================================== */




/* ========================================
        ALL COMMON CSS PART START 
======================================== */
/* ========================================
        ALL COMMON CSS PART END 
======================================== */




/* ========================================
        ALL COMMON CSS PART START 
======================================== */
/* ========================================
        ALL COMMON CSS PART END 
======================================== */




/* ========================================
        ALL COMMON CSS PART START 
======================================== */
/* ========================================
        ALL COMMON CSS PART END 
======================================== */




/* ========================================
        ALL COMMON CSS PART START 
======================================== */
/* ========================================
        ALL COMMON CSS PART END 
======================================== */




/* ========================================
        ALL COMMON CSS PART START 
======================================== */
/* ========================================
        ALL COMMON CSS PART END 
======================================== */




/* ========================================
        ALL COMMON CSS PART START 
======================================== */
/* ========================================
        ALL COMMON CSS PART END 
======================================== */




/* ========================================
        ALL COMMON CSS PART START 
======================================== */
/* ========================================
        ALL COMMON CSS PART END 
======================================== */




/* ========================================
        ALL COMMON CSS PART START 
======================================== */
/* ========================================
        ALL COMMON CSS PART END 
======================================== */




/* ========================================
        ALL COMMON CSS PART START 
======================================== */
/* ========================================
        ALL COMMON CSS PART END 
======================================== */




/* ========================================
        ALL COMMON CSS PART START 
======================================== */
/* ========================================
        ALL COMMON CSS PART END 
======================================== */




/* ========================================
        ALL COMMON CSS PART START 
======================================== */
/* ========================================
        ALL COMMON CSS PART END 
======================================== */




/* ========================================
        ALL COMMON CSS PART START 
======================================== */
/* ========================================
        ALL COMMON CSS PART END 
======================================== */