/* ========================================
        ALL COMMON CSS PART START 
======================================== */
:root{
    --PRIMARY-COLOR: #FF42A5;
    --HEADING-BLACK: #0B0223;
    --WHITE-COLOR: #fff;
    --BACKGROUND-COLOR: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --TEXT-COLOR: #534C64;
    --FONT-FAMILY: 'Work Sans', sans-serif;
    --RED-COLOR: Red;
    --BUTTON-COLOR: #4EC5F7;
}
body{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
img{
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.container{
    width: 1640px;
    margin: 0 auto;
    padding: 0px 10px;
    background: rgba(255, 0, 0, 0.5);
}
ul, ol, li{
    list-style: none;
    text-decoration: none;
    display: inline;
}
a, a:hover{
    text-decoration: none;
}
/* COMMON BUTTON PART START */
.commonbtn{
    background: var(--PRIMARY-COLOR);
    padding: 20px 40px;
    border-radius: 48px;
    cursor: pointer;
    border: 2px solid var(--PRIMARY-COLOR);
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    -ms-border-radius: 48px;
    -o-border-radius: 48px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.commonbtn:hover{
    background: var(--BUTTON-COLOR);
    border: 2px solid var(--PRIMARY-COLOR);
}
.commonbtn a{
    color: var(--WHITE-COLOR);
    font-size: 1.5rem;
    font-weight:600;
    text-transform: uppercase;
}
.commonbtn:hover a{
    color: var(--PRIMARY-COLOR);
}
h2{
    background: var(--BACKGROUND-COLOR);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}
h2 span{
    background: var(--HEADING-BLACK);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p{
    color: var(--TEXT-COLOR);
    font-size: 1.2rem;
    line-height: 30px;
}
/* COMMON BUTTON PART START */

/* ========================================
        ALL COMMON CSS PART END 
======================================== */





/* ========================================
        NAV BAR  CSS PART START 
======================================== */
nav{
    background-color: var(--WHITE-COLOR);
    padding: 35px 0;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .container .logo{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}
nav .container .logo img{
    width: 70px;
}
nav .container .logo p{
    font-size: 3rem;
    font-weight: 700;
    color: var(--HEADING-BLACK);
}
nav .container .logo p span{
    /* color: #F948B2; */
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav .container .item{
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
    font-size: 1rem;
}
nav .container .item ul{
    display: flex;
    gap: 50px;
}
nav .container .item ul li a{
    font-size: 2em;
    font-weight: 500;
    color: var(--HEADING-BLACK);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
nav .container .item ul li:hover a{
    color: var(--PRIMARY-COLOR);
}
nav .container .item button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 25px;
    padding: 20px 25px ;
    border-radius: 8px;
    color: var(--HEADING-BLACK);
    background: rgba(11, 2, 35, 0.10);
    border: 1px solid rgba(11, 2, 35, 0.10);
    font-size: 1.5rem;
    font-weight: 500;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
nav .container .item button:hover{
    color: var(--PRIMARY-COLOR);
    border: 1px solid var(--PRIMARY-COLOR);
}
nav .container .item button .social .youtube{
    color: var(--RED-COLOR);
    border: 1px solid rgba(11, 2, 35, 0.10);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
nav .container .item button .social .youtube:hover{
    border: 1px solid var(--PRIMARY-COLOR);
}
nav .container .item button .social .tiktok{
    color: var(--HEADING-BLACK);
    border: 1px solid rgba(11, 2, 35, 0.10);
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .4s;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .container .item button .social .tiktok:hover{
    border: 1px solid var(--PRIMARY-COLOR);
}

/* ========================================
        NAV BAR  CSS PART END 
======================================== */




/* ========================================
        BANNER CSS PART START 
======================================== */
#banner{
    margin-bottom: 55px;
}
#banner .container{
    display: flex;
    gap: 70px;
    justify-content: space-between;
    align-items: center;
}
#banner .container .text{
    background-image: url(../images/banner01.png);
    background-size: cover;
    background-position: center;
    padding: 150px;
}
#banner .container .text h3{
    color: var(--HEADING-BLACK);
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
}
#banner .container .text h1{
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 5px;
    background: var(--BACKGROUND-COLOR);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 25px;
}
#banner .container .text ul li .icon{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
}
#banner .container .text ul li .icon i{
    height: 25px;
    width: 25px;
    color: var(--PRIMARY-COLOR);
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner .container .text ul li .icon span{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--TEXT-COLOR);
}
#banner .container .text .btn{
    display: flex;
    gap: 60px;
    margin-top: 60px;
}
/* ========================================
        BANNER CSS PART END 
======================================== */




/* ========================================
        GAMER CSS PART START 
======================================== */

#gamer{
    margin-bottom: 100px;
}
#gamer .container{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    text-align: end;
}
#gamer .container .text{
    padding: 10px 20px;
    max-width: 550px;
}
#gamer .container .text p{
    margin-bottom: 40px;
}
#gamer .container .text .quation{
    margin-top: 30px;
    margin-bottom: 0;
}

/* ========================================
        GAMER CSS PART END 
======================================== */




/* ========================================
         ONLINE GAME CSS PART START 
======================================== */
#online{
    margin-bottom: 120px;
}
#online .container{
padding: 0 10px;
}
#online .container .heading{
    text-align: center;
    margin-bottom: 50px;
}
#online .container .heading h2 span{
    background: var(--HEADING-BLACK);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#online .container .game_items{
    display: flex;
    gap: 25px;
    align-items: start;
    justify-content: space-between;
}
#online .container .game_items .games{
    width: 400px;
}
#online .container .game_items .games .image{
    height: 400px;
    position: relative;
    overflow: hidden;
    border: 4px solid var(--WHITE-COLOR);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all linear 4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear 4s;
    -ms-transition: all linear 4s;
    -o-transition: all linear 4s;
}
#online .container .game_items .games .image:hover{
    border: 4px solid var(--PRIMARY-COLOR);
}
#online .container .game_items .games .image .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    visibility: hidden;
    opacity: 0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
#online .container .game_items .games .image:hover .overlay{
    visibility: visible;
    opacity: 1;
}
#online .container .game_items .games .image .overlay i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: var(--WHITE-COLOR);
}
#online .container .game_items .games .image .overlay p{
    color: var(--PRIMARY-COLOR);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}
#online .container .game_items .games .game-caption{
    margin-top: 30px;
}
#online .container .game_items .games .game-caption p{
    color: var(--TEXT-COLOR);
    font-size: 1.5rem;
}
/* ========================================
         ONLINE GAME CSS PART END 
======================================== */




/* ========================================
         INSTANTLY CSS PART START 
======================================== */
#instantly{
    margin-bottom: 120px;
}
#instantly .container{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
#instantly .container .text{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}
#instantly .container .image{
    position: relative;
}
#instantly .container .image .position{
    position: absolute;
    left: -20%;
    top: 55%;
}
/* ========================================
         INSTANTLY CSS PART END 
======================================== */





/* ========================================
         INSTANTLY CSS PART START 
======================================== */
#play{
    margin-top: 100px;
    margin-bottom: 120px;
}
#play .container{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
#play .container .text{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}
#play .container .image{
    position: relative;
}
#play .container .image .position{
    position: absolute;
    right: -20%;
    top: 60%;
}
/* ========================================
         INSTANTLY CSS PART END 
======================================== */





/* ========================================
        ALL COMMON CSS PART START 
======================================== */
/* ========================================
        ALL COMMON CSS PART END 
======================================== */




/* ========================================
        ALL COMMON CSS PART START 
======================================== */
/* ========================================
        ALL COMMON CSS PART END 
======================================== */




/* ========================================
        ALL COMMON CSS PART START 
======================================== */
/* ========================================
        ALL COMMON CSS PART END 
======================================== */




/* ========================================
        ALL COMMON CSS PART START 
======================================== */
/* ========================================
        ALL COMMON CSS PART END 
======================================== */




/* ========================================
        ALL COMMON CSS PART START 
======================================== */
/* ========================================
        ALL COMMON CSS PART END 
======================================== */




/* ========================================
        ALL COMMON CSS PART START 
======================================== */
/* ========================================
        ALL COMMON CSS PART END 
======================================== */




/* ========================================
        ALL COMMON CSS PART START 
======================================== */
/* ========================================
        ALL COMMON CSS PART END 
======================================== */




/* ========================================
        ALL COMMON CSS PART START 
======================================== */
/* ========================================
        ALL COMMON CSS PART END 
======================================== */




/* ========================================
        ALL COMMON CSS PART START 
======================================== */
/* ========================================
        ALL COMMON CSS PART END 
======================================== */